<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="Integration">
            <directory suffix=".php">tests/EMT/Integration</directory>
        </testsuite>
        <testsuite name="Rules">
            <directory suffix=".php">tests/EMT/Rules</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory suffix=".php">PEAR_INSTALL_DIR</directory>
            <directory suffix=".php">PHP_LIBDIR</directory>
            <directory suffix=".php">vendor</directory>
        </blacklist>
    </filter>
</phpunit>